* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

}

body {
    height: 100vh;

}

h1 {
    text-align: center;
    margin: 20px auto;
    font-size: 50px;
    text-transform: uppercase;
}

h2 {
    margin: 20px auto;
    font-size: 30px;
}

h3 {
    margin: 10px auto;
    font-size: 25px;
}

.contener {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 80vh;
    margin: 20px auto;
    border: solid 4px rgb(17, 70, 54);
    background-color: rgb(162, 240, 217);

}

.select {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;

}

.select img {
    width: 120px;
    margin: 10px;
    display: inline-block;
    border: black 2px solid;
}

.select img:hover {
    cursor: pointer;
    border: black 3px solid;
    box-shadow: 4px 4px 5px black;
}

.select p,
.comparison p {
    margin: 20px auto 10px auto;
    font-size: 23px;
    font-weight: 500;
}

.game {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-left: solid 4px rgb(27, 102, 80);
}

.game img {
    width: 220px;
    height: 220px;
    margin: 20px 35px;
    display: inline-block;
    border: black 2px solid;
    background-color: black;
}

.choice {
    flex-basis: 70%;
}

.resault {
    flex-basis: 30%;
    padding: 5px;
}


.comparison {
    display: flex;
}



span {
    font-weight: bold;
}