html {
  font-size: 16px;
}

body {
  height: 100vh;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  height: 10vh;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 1% auto;
}

h2 {
  font-size: 2.2rem;
  margin: 2% auto;
}

h3 {
  font-size: 1.8rem;
  margin: 2% auto;
}

h2,
h3 {
  color: white;
  text-shadow: 2px 2px 0px black, 2px -2px 0px black, -2px 2px 0px black,
    -2px -2px 0px black, 2px 0px 0px black, 0px 2px 0px black,
    -2px 0px 0px black, 0px -2px 0px black;
}

.container {
  width: 70%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  background-color: rgb(47, 107, 88);
  margin: 1.3rem auto;
  border: solid 4px black;
}

.select {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.select img {
  display: inline-block;
  width: 8rem;
  margin: 1%;
  border: black 2px solid;
}

.select img:hover {
  cursor: pointer;
  box-shadow: 4px 4px 5px black;
}

.game {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-left: solid 4px black;
}

.choice {
  width: 70%;
  flex-basis: 50%;
  justify-content: space-around;
}

.comparison {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comparison img {
  display: block;
  width: 13.1rem;
  height: 13.1rem;
  border: black 3px solid;
  background-color: gainsboro;
}

button {
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: rgb(42, 42, 43);
  color: white;
  width: 100%;
  padding: 2% 3%;
  margin-top: 3%;
  border-radius: 5px;
  border: black 2px solid;
  box-shadow: 4px 4px 5px black;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.97);
  box-shadow: 2px 2px 2px black;
  outline: none;
}
button:focus {
  outline: none;
}

.results {
  width: 70%;
  flex-basis: 18%;
  margin: 0;
  padding: 1%;
  margin-bottom: 2%;
  background-color: rgb(194, 196, 199);
  border: black 2px solid;
}
.results span {
  font-weight: bold;
}

.results p {
  margin: 0;
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .comparison img {
    width: 12.1rem;
    height: 12.1rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 10.5px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
  .select h3 {
    display: none;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 7px;
  }
  .container {
    width: 100%;
  }
}

@media (orientation: portrait) {
  .container {
    flex-direction: column;
  }
  .select {
    flex-direction: row;
  }
  .game {
    border-left: none;
    border-top: solid 4px black;
    padding-top: 5%;
  }
}
